.features-content {
  display: none;

  @include for-large-up {
    display: inline-block;
    margin-left: 128px;
    width: 462px;
  }

  &__name {
    margin: 0;
    height: 34px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d;
  }

  &__title {
    margin: 28px 0 0 0;
    height: 112px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2b292d;
  }

  &__description {
    margin: 30px 0 0 0;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
  }
}

.selector {
  margin-top: 42px;
  height: 251px;

  &-head {
    display: flex;
    height: 28px;
    width: 100%;

    &__title {
      display: inline-block;
      margin: 0 0 0 15px;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #3142c6;
    }

    &__description-text {
      font-size: 18px;
      line-height: 26px;
      color: #2b292d;
    }

    &__description-line {
      width: 100%;
      height: 3px;
      border: none;
      background: #3142c6;
    }
  }

  &-line {
    width: 100%;
    height: 1px;
    margin-top: 22px;
    border: none;
    background: #2b292d;
    mix-blend-mode: normal;
    opacity: 0.15;
  }

  &-engage,
  &-develop {
    display: flex;
    height: 26px;
    margin-top: 20px;

    &__link {
      margin-left: 15px;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #2b292d;
    }
  }
}
