.audience {
  padding: 50px 15px;
  background-color: #00a1c612;

  @include for-large-up {
    margin: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 110px;
  }

  &__details {
    max-width: 555px;

    @include for-large-up {
      max-width: 555px;
      margin: 108px auto 0 auto;
    }

    &_title {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      text-align: center;
      color: #2b292d;
    }

    &_sub-title {
      margin: 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.357143px;
      color: #2b292d;
      margin-top: 17px;

      @include for-large-up {
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-top: 24px;
      }
    }

    &_description {
      margin: 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #2b292d;
      margin-top: 18px;

      @include for-large-up {
        margin-top: 30px;
      }
    }
  }

  &__actions {
    margin-top: 30px;
    max-width: 555px;

    @include for-large-up {
      margin-top: 34px;
      display: flex;
      justify-content: center;
      max-width: 100%;
    }
  }

  &__action-button {
    width: 100%;

    @include for-large-up {
      width: 160px;
    }
  }

  &__learn-more-btn {
    width: 100%;
    margin-top: 12px;

    @include for-large-up {
      width: 158px;
      margin: 0;
      margin-left: 10px;
    }
  }

  &__list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    @include for-large-up {
      flex-direction: row;
      justify-content: center;
      margin-top: 111px;
      padding-top: 0;
    }
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 290px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;

  @include for-large-up {
    width: 262px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  &_text {
    margin: 0;
    margin: 22px 20px 33px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
  }

  &_icon {
    margin: 22px auto 0 auto;
  }
}

.user-card:hover,
.user-card:hover .user-card_text {
  background-color: #3141c5;
  cursor: pointer;
  color: #ffffff;
}

.user-card:last-child {
  margin-bottom: 0;

  @include for-large-up {
    margin-right: 0;
  }
}
