.headline {
  width: 100vw;
  padding-bottom: 36px;

  @include for-large-up {
    position: relative;
    width: 1140px;
    margin-left: 126px;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }

  &__content {
    margin: 35px 15px 33px 15px;

    @include for-large-up {
      position: absolute;
      z-index: 1;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;

    @include for-large-up {
      font-weight: bold;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      color: #2b292d;
      width: 754px;
      height: 165px;
      margin: 0;
    }
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;

    @include for-large-up {
      margin-left: 4px;
      margin-top: 34px;
      margin-bottom: 0;
      height: 102px;
      width: 456px;
      font-size: 24px;
      line-height: 34px;
      color: #2b292d;
    }
  }

  &__action {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 58px;
      margin-bottom: 126px;
      margin-left: 4px;
      display: flex;
    }
  }

  &__learn-more-btn {
    background-color: #fff;
    color: #3040c4;
    width: 158px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    margin-top: 15px;

    @include for-large-up {
      margin-left: 10px;
      margin-top: 0;
    }
  }

  &__banner {
    width: 100%;
    height: 180px;

    @include for-large-up {
      position: relative;
      top: 0;
      right: -105px;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
  }

  &__action-btn {
    @include for-large-down {
      width: 100%;
    }
  }
}
