@import 'breakpoints.scss';
@import 'common.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'order.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features/features.scss';
@import 'features/featuresmob.scss';
@import 'features/featuresdesk.scss';
@import 'inbox.scss';
@import 'communications.scss';
@import 'feedback.scss';
@import 'hiring.scss';
@import 'audience.scss';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;

  @include for-large-up {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
