.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
  height: 827px;

  @include for-large-up {
    padding: 0;
    height: 441px;
    width: 1400px;
  }

  &__details {
    max-width: 555px;
    display: flex;
    flex-direction: column;

    @include for-large-up {
      position: relative;
      max-width: 100%;
    }
  }

  &__illustration {
    max-width: 200px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;

    @include for-large-up {
      position: absolute;
      max-width: 269px;
      height: 296px;
      top: 73px;
      right: 906px;
      bottom: 72px;
      left: 224px;
      align-items: center;
    }
  }

  &__title {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #2b292d;
    margin-top: 40px;

    @include for-large-up {
      position: absolute;
      width: 555px;
      left: 616px;
      top: 106px;
      right: 229px;
      bottom: 287px;
      text-align: left;
      margin-top: 0;
      padding: 0 0 8px 0;
    }
  }

  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    color: #2b292d;
    margin-top: 18px;

    @include for-large-up {
      position: absolute;
      width: 555px;
      left: 615px;
      top: 166px;
      right: 230px;
      bottom: 211px;
      margin-top: 0;
    }
  }

  &__form {
    margin-top: 40px;

    @include for-large-up {
      display: flex;
      margin-top: 0;
      width: 555px;
      position: absolute;
      left: 617px;
      top: 256px;
      right: 228px;
      bottom: 137px;
    }
  }

  &__email {
    height: 48px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: #2b292d;
    }
  }

  &__button {
    margin-top: 12px;
    width: 100%;

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      max-width: 160px;
    }
  }

  &__terms {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);

    @include for-large-up {
      position: absolute;
      width: 555px;
      margin-top: 0;
      left: 616px;
      top: 314px;
      right: 287px;
      bottom: 105px;
    }
  }

  &__terms-link {
    color: #3142c6;
    opacity: 1;
  }
}
